//colors
$color-primary: #EE82EE;
$color-primary-light: #E6E6FA;
$color-primary-dark: #9400D3;

// Light green: #7ed56f Medium green: #55c57a Dark green: #28b485


$color-grey-dark: #777;
$color-grey-dark-1: #999;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #dbd5d5;

$color-yellow-dark: rgb(255, 208, 0);
$color-yellow-light-1: rgb(250, 252, 165);

$color-green-dark: #28b485;
$color-green-light-1: #7ed56f;

$color-red-dark: rgb(145, 7, 7);
$color-red-light-1: rgb(241, 79, 79);

$color-orange-dark: #FF8C00;

$color-pink-light-1:#FFB6C1;
$color-pink-dark:#FF1493;

$color-blue-light-1:#7f7fff;
$color-blue-dark: #0000ff;




$color-white: #fff;
$color-black: #000;

//font size
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;