.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	height: 50rem;
	position: relative;
	
	&__side { 
		color: $color-white;
		height: 50rem;
		transition: all .8s ease;
		font-size: 2rem;
		position: absolute;
		width: 100%;
		top:0;
		left:0;
		backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

		&--front{
			background-color: $color-white;
		}

		&--back {
			transform: rotateY(180deg);
			&-1 {
				background-image: linear-gradient(to right bottom, $color-green-light-1, $color-green-dark);
			}
		}
	}
	

	&:hover &__side--front{
		transform:rotateY(-180deg);
	}

	&:hover &__side--back{
		transform: rotateY(0deg);
	}
}